"*":
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    excludeVcsIgnoredPaths: true
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "takaoGothic"
    fontSize: 18
    preferredLineLength: 100
    showIndentGuide: true
    showLineNumbeers: true
    softWrap: false
    tabLength: 2
  "exception-reporting":
    userId: "3bac343a-dc1f-4470-a7a7-ad94812316b2"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewLine: true
    removeTrailingWhitespace: true
